.container {
  margin-bottom: 10px;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  width: 30vh;
  border-radius: 10px;
  border: 1px solid red;
  padding: 10px;
}
.bill-total {
  margin-bottom: 10px;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  width: 11vh;
}

.tip-amount {
  margin-bottom: 10px;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  width: 11vh;
}

.total-people {
  margin-bottom: 10px;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  width: 11vh;
}

h1 {
  width: 30vh;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid red;
  padding: 10px;
}

.total-tip {
  text-align: right;
  color: red;
  font-size: xx-large;
}

.tip-with-bill {
  text-align: right;
  color: red;
  font-size: xx-large;
}
